@model IEnumerable<Obligatorio.LogicaAplicacion.Dtos.Pagos.PagosDtoListado>

@{
    ViewData["Title"] = "Listado de Pagos";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <div class="card shadow-sm border-0 rounded">
            <div class="card-body">
                <h2 class="text-center mb-4 text-uppercase fw-semibold">Listado de Pagos</h2>

                <div class="d-flex justify-content-end mb-3 gap-2">
                    <a asp-action="CreatePagoUnico" class="btn btn-outline-primary">Alta Pago Único</a>
                    <a asp-action="CreatePagoRecurrente" class="btn btn-outline-primary">Alta Pago Recurrente</a>
                </div>

                <table class="table table-bordered table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
                            <th>Descripción</th>
                            <th>Monto de pago</th>
                            <th>Tipo de pago</th>
                            <th>Metodo de Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.MontoPago)</td>
                                <td>@Html.DisplayFor(modelItem => item.DescripcionTipoPago)</td>
                                <td>@Html.DisplayFor(modelItem => item.MetodoPago)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>